body {
    background-image: url('../img/aventura.jpeg');
    background-size: cover;
    background-position: center;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    font-family: 'Kaushan Script', cursive;
  }
  img{
    width: 500px;
    height: 400px;
    position: absolute;
    margin-left: 200px;
  }
  .letra{
    position: absolute;
    margin-top: 240px;
    margin-left: 420px;
    transform: translate(-50%, -50%);
    width:280px;
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .moverr{
    position: absolute;
    margin-top: 50px;
    margin-left: 80px;
  }