body {
    background-image: url('../img/puertasfondo.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    font-family: 'Kaushan Script', cursive;
    cursor: url('../img/cursor.PNG'), auto;
  }
    
  .puerta {
    background-image: url("../img/cerrada.png");
    background-size: cover;
    background-position: center;
    margin: 10px;
    width: 270px;
    height: 490px;
    background-color: transparent; 
    position: absolute;
    margin-top: 170px;
    background-repeat: no-repeat; 
    background-position: center; 
    margin-left: -890px;
    background-size: cover;
    
}
.puerta1 {
  background-size: cover;  
  background-repeat: no-repeat; 
  background-position: center; 
  font-size: 30px !important;
  margin: 10px;
  width: 280px;
  height: 490px;
  position: absolute;
  margin-top: 170px;
  margin-left: 10px;
  overflow: hidden; 
}
.puerta2 {
  font-size: 30px !important;
  margin: 10px;
  width: 270px;
  height: 490px;
  background-color: transparent; 
  position: absolute;
  margin-top: 170px;
  margin-left: 930px;
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
  
}

.titulo1{
  color: white;
  font-size: 40px;
  position: absolute;
  margin-top: -440px;
  font-family: 'Kaushan Script';
}
.titulo2{
  color: white;
  font-size: 40px;
  position: absolute;
  margin-top: -440px;
  margin-left: 800px;
  font-family: 'Kaushan Script';
}
.titulo3{

  color: white;
  font-size: 36px;
  position: absolute;
  margin-top: -440px;
  margin-left: -820px;
  font-family: 'Kaushan Script';
}

.titulo1, .titulo2, .titulo3 {
  /* ... (tus estilos existentes) */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  animation: neon 1s infinite alternate;

}

@keyframes neon {
  0% {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
  100% {
    text-shadow: 3px 3px 5px rgba(255, 0, 0, 1);
  }
}