body {
    background-image: url('../img/Fondomulti.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    font-family: 'Kaushan Script', cursive;
    cursor: url('../img/cursor.PNG'), auto;
  }
    
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.botones {
    display: flex;
    gap: 20px;
}

.boton1  {
    background-image: url("../img/jugar.PNG");
    width: 200px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    float: left;
    position: absolute;
    margin-left: -400px;
    margin-top: -150px;
}
.boton2 {
    background-image: url("../img/jugar.PNG");
    width: 200px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    float: left;
    position: absolute;
    margin-left: -400px;
    margin-top: 10px;
}

.boton1:hover  {
    opacity: 0.8; /* Efecto de hover */
}
.boton2:hover {
    opacity: 0.8; /* Efecto de hover */
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-image: url("../img/pergamino.PNG");
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
    background-size: cover; /* Asegura que la imagen de fondo se ajuste */
    background-position: center; /* Centra la imagen de fondo */
    width: 400px;
    height: 400px;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
   
}

/* Estilo adicional para el texto dentro del modal */
.modal-content h2, .modal-content p, .modal-content input, .modal-content button {
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
}

input, button {
    margin-top: 10px;
}
.botonsalir{
    position: absolute;
    margin-top: 100px;
   margin-left: -200px;
}