body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/fondoInicioM.jpeg');
    background-size: 100% 100%; /* Adjust the values to fit the entire screen */
    background-position: center;
  }
.tipoLetra {
   text-align: center; 
   font-family: 'Kaushan Script', sans-serif ;
   color:rgb(255, 255, 255) !important;
                                                
}

button {
    background-color: white;
    border: solid #E0DBA7;
    color: black;
    font-size: 30px !important;
    width: 30%;
    height: 25%;
}
button:hover {
    background-color: #f0edcc;
}




